.hi{
    display: none;
    border: none !important;
    background-color: white;
}


.hey{

    position: relative;
}





html{
    background-color: black;
}





.black{
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    
}





.white-layer{
position: absolute;
background-color: rgba(255,255,255, 0.7);
display: none;
left: 0;
right: 0;
top: 0;
bottom: 0;

}



